extends layout.pug

block styles
  include styles/contact.css

block content
  h1 Reach out to us on facebook, twitter and instagram.
  div(class='box')
    div(class="icon")
      div(class = "icon_shell")
        i(class="fab fa-facebook-f fa-3x")
      a(href='https://www.facebook.com/UNCDarkside/') Our Page
    div(class="icon")
      div(class = "icon_shell")
        i(class="fab fa-twitter fa-3x")
      | @UNC_Darkside
    div(class="icon")
      div(class = "icon_shell")
        i(class="fab fa-instagram fa-3x")
      | unc_darkside
