extends layout.pug

block styles
  include styles/history.css

block content
  div(class="main_grid")
    div(class='grid_child')
      p Beyond the superficial accolades exists a collection of upstanding young gentlemen. Darkside is best described as a group of gentlemen whose dashing good looks and unflappable southern charm are outweighed only by their razor-sharp disc skills, breathtaking athleticism and blinding, white-hot competitive fire.

    div(class='grid_child quote')
      p Competitors, teammates, gentlemen, brothers – This is Darkside.
