extends layout.pug

block styles
  include styles/index.css

block content
  div(class="jumbo_tron")
    div(class="icon")
      div(class = "icon_shell")
        i(class="fas fa-peace fa-3x")

    div(class="icon")
      div(class = "icon_shell")
        i(class="fas fa-heart fa-3x")

    div(class="icon")
      div(class = "icon_shell")
        i(class="far fa-moon fa-3x")

  div(class="main_grid")
    div(class="grid_child")
    div(class="grid_child" id='center')
      p UNC DARKSIDE
    div(class="grid_child")
