extends layout.pug

block styles
  include styles/photos.css

block content
  div(class='gallery')
    img(class='item' src='images/jremethrowing.jpg')
    img(class='item' src='images/marcthrowing.jpg')
    img(class='item' src='images/derscatching.jpg')
    img(class='item' src='images/explosive.jpg')
    img(class='item' src='images/samcatching.jpg')
    img(class='item' src='images/dill.jpg')
    img(class='item' src='images/flyingtuna.jpg')
    img(class='item' src='images/adjumping.jpg')
    img(class='item' src='images/bangtown.jpg')
    img(class='item' src='images/jumper.jpg')
    img(class='item' src='images/marcthrowing.jpg')
    img(class='item' src='images/jumper.jpg')
