extends layout.pug

block styles
  include styles/roster.css

block content
  h1 2018-2019
    div(class='main_grid')
      p(class='number') 19
      p(class='name') Teddy Randby
      p(class='number') 80
      p(class='name') John McDonnell
      p(class='number') 85
      p(class='name') Andrew Mouw
      p(class='number') 2
      p(class='name') Liam Searles-Bohs
      p(class='number') 27
      p(class='name') Ryan Humphrey
      p(class='number') 40
      p(class='name') Samuel Lee
      p(class='number') 5
      p(class='name') Andrew Li
      p(class='number') 1
      p(class='name') John Su
      p(class='number') 28
      p(class='name') John Watters
      p(class='number') 3
      p(class='name') Seth Lee
      p(class='number') 4
      p(class='name') Suraj Madiraju
      p(class='number') 7
      p(class='name') Jesse Kovacs
      p(class='number') 9
      p(class='name') Colin Smith
      p(class='number') 10
      p(class='name') Marc Rovner
      p(class='number') 11
      p(class='name') Taek Lee
      p(class='number') 12
      p(class='name') Elijah Long
      p(class='number') 13
      p(class='name') Daniel Fan
